---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Services from "@/components/Services.astro";
import About from "@/components/About.astro";
import OPB360 from "@/components/OPB360.astro";
import ProcessTimeline from "@/components/ProcessTimeline.astro";
import Metrics from "@/components/Metrics.astro";
import Benefits from "@/components/Benefits.astro";
import CTA from "@/components/CTA.astro";
import WhatsApp from "@/components/WhatsApp.astro";
import WhatsAppFAB from "@/components/WhatsAppFAB.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Services />
    <About />
    <OPB360 />
    <ProcessTimeline />
    <Metrics />
    <Benefits />
    <CTA />
    <WhatsApp />
  </main>
  <Footer />
  <WhatsAppFAB />
</Layout>
